
h1 {
    font-family: 'Righteous';
    text-align: center;
    color: white;
    font-size:5rem;
    text-shadow: 1px 1px #ff0000;
 
 }
 a {
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;

}
.sub{
    background:red;
}


  #openEvents{
    float: inherit;
    width: 500px;
    height: 250px;
    margin: 20px;
    font-family: 'Righteous';
    background-image: url("../img/OpenEvents.png");
    background-repeat: no-repeat;
    background-size: cover;
    }
    
    #reports{
    float: inherit;
    width: 500px;
    height: 250px;
    margin: 20px;
    background-image: url("../img/reports.png");
    background-repeat: no-repeat;
    background-size: cover;
    }
    
    #addEvents{
    float: inherit;
    width: 500px;
    height: 250px;
    margin: 20px;
    color: white;
    background-image: url("../img/AddEdit.png");
    background-repeat: no-repeat;
    background-size: cover;
    }
    
    #addUsers{
    float: inherit;
    width: 500px;
    height: 250px;
    margin: 20px;
    background-image: url("../img/AddEditUsers.png");
    background-repeat: no-repeat;
    background-size: cover;
    }
    
    
    button {
       float: inherit;
       margin: 10px;
    }
    
    .clearFloat {
       clear: both;
       float: none;
    }
    
    
    .jumbotron {
        background-image: url("../img/Campus.jpg");
        background-repeat: no-repeat;
        background-size: cover;
     }
    
     body{
         background-color: rgb(245, 245, 245);
     }
     .time {
        float: left;
    }

    .btn-danger {
        float: right;
        margin: 5px;
     }

     .btn-block{
        font-size:1.8rem;
        height: 6rem
    }

    label, th {
        font-family: "Righteous"
    }

   