.sub{
    background:red;
}
a {
    color: white;
 }
 
 a:hover {
    color: rgb(190, 190, 190);
 }
 
 button {
    float: right;
    margin: 5px;
 }
 
 .time {
    float: left;
 }
 
 .clearFloat {
    clear: both;
    float: none;
 }
 
 h1 {
    text-align: center;
    font-size:5rem;
    font-family: 'Bitter', serif;
 }