#openEvents{
float:left;
width: 48%;
height: 250px;
margin-bottom: 20px;
font-size: 26pt;
background-image: url("../img/Races.jpeg");
background-repeat: no-repeat;
background-size: cover;
}

#reports{
float:right;
width: 48%;
height: 250px;
margin-bottom: 20px;
font-size: 26pt;
background-image: url("../img/Tennis.jpeg");
background-repeat: no-repeat;
background-size: cover;
}

#addEvents{
float:left;
width: 48%;
height: 250px;
margin-bottom: 20px;
font-size: 26pt;
color: white;
background-image: url("../img/RiceEccles.jpeg");
background-repeat: no-repeat;
background-size: cover;
}

#addUsers{
float:right;
width: 48%;
height: 250px;
margin-bottom: 20px;
font-size: 26pt;
background-image: url("../img/Concerts.jpeg");
background-repeat: no-repeat;
background-size: cover;
}


button {
   float: right;
   margin: 10px;
}

.clearFloat {
   clear: both;
   float: none;
}

h1 {
   text-align: center;
   color: #ff0000;
   font-size:5rem;
   font-family: 'Bitter', serif;
   text-shadow: 1px 1px white;

}

.jumbotron {
    background-image: url("../img/res.jpeg");
 }

 body{
     background-color: rgb(231, 229, 229);
 }