#topLeft{
float:left;
width: 48%;
height: 250px;
margin-bottom: 20px;
font-size: 26pt;
}

#topRight{
float:right;
width: 48%;
height: 250px;
margin-bottom: 20px;
font-size: 26pt;
}

#midLeft{
float:right;
width: 48%;
height: 250px;
margin-bottom: 20px;
font-size: 26pt;
}

#midRight{
float:right;
width: 48%;
height: 250px;
margin-bottom: 20px;
font-size: 26pt;
}

#botLeft{
float:left;
width: 48%;
height: 250px;
margin-bottom: 20px;
font-size: 26pt;
color: white;
}

#botRight{
float:right;
width: 48%;
height: 250px;
margin-bottom: 20px;
font-size: 26pt;
}

a {
   color: white;
}

a:hover {
   color: rgb(190, 190, 190);
}

button {
   float: right;
   margin: 5px;
}

.time {
   float: left;
}

.clearFloat {
   clear: both;
   float: none;
}

h1 {
   text-align: center;
}